Package: com.jbevasion.apphide
Name: jbevasion
Version: 0.1.0
Architecture: iphoneos-arm64
Description: Jailbreak environment hiding controller (Dopamine)
Author: jbevasion
Maintainer: jbevasion
Section: Tweaks
Depends: firmware (>= 15.0)
Tag: purpose::extension